/* Контейнер содержимого формы. */
.k-edit-form-container {
    width: 100%;
}


/* Контейнер с надписью и значением. */
.treeview-node-form_item{
    margin: 0 10px;
    width: calc(100% - 2 * 10px)
}
.treeview-node-form_item:not(:last-child){
    margin-bottom: 15px;
}


/* input, textarea. */
input.k-textbox,
textarea.k-textbox {
    margin: 0;
    max-width: none;
    width: 100%;
}

input.k-textbox {
    padding: 0;
}
textarea.k-textbox {
    height: 70px;
    padding: 4px 9px;
    font-size: 10pt;
    line-height: 12pt;
}


/* DropDownListFor. */
span.k-dropdown {
    width: 100%;
}


/* Пункт DropDownListFor. */
.k-dropdown .k-input {
    height: 27px;
    line-height: 16pt;
}
.alt-parent-desc {
    font-family: Calibri;
    font-size: 10pt;
    font-style: italic;
    line-height: 12pt;
}


/* MultiSelectFor. */
.k-multiselect-clearable .k-multiselect-wrap {
    height: 27px;
}
.k-multiselect-wrap li {
    min-height: unset;
}
.k-multiselect-clearable .k-multiselect-wrap li.k-button {
    height: 26px;
}
.k-multiselect-clearable .k-multiselect-wrap span {
    
}